/* Ensures the body always has the scrollbar space, but the scrollbar is hidden */
body {
  overflow-y: scroll; 
  overflow: hidden; /* Forces a scrollbar to be present always */
  margin-right: 0;     /* Prevents the scrollbar from causing layout shifts */
  scrollbar-width: none;  /* For Firefox to hide scrollbar */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
              'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide the scrollbar for webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  display: none;
}

/* Prevent layout shift by using padding-right */
html {
  padding-right: 17px; /* Adjust this value according to your scrollbar size */
}
